# MultiIndex DataFrames

In [11]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [12]:
# Index Levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
#df = pd.DataFrame(data,index,columns)

df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [10]:
df

             A         B
G1 1 -0.201773 -0.149884
   2 -0.588224  2.258723
   3 -1.138999 -0.740383
G2 1  0.505303 -1.174932
   2  1.540935  1.162851
   3 -0.494478 -0.934964

# Calling Data from a Multi-level index

In [14]:
df.loc['G1']

          A         B
1 -0.201773 -0.149884
2 -0.588224  2.258723
3 -1.138999 -0.740383

In [15]:
df.loc['G1'].loc[1]

A   -0.201773
B   -0.149884
Name: 1, dtype: float64

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['Groups','Num']

In [18]:
df

                   A         B
Groups Num
G1     1   -0.201773 -0.149884
       2   -0.588224  2.258723
       3   -1.138999 -0.740383
G2     1    0.505303 -1.174932
       2    1.540935  1.162851
       3   -0.494478 -0.934964

In [22]:
# Lets grab 1.162851 (G2,NUM 2,COL B)

df.loc['G2'].loc[2].loc['B']

1.162851304409192

# Crossection - xs()

In [24]:
df.xs('G1')

            A         B
Num
1   -0.201773 -0.149884
2   -0.588224  2.258723
3   -1.138999 -0.740383

In [25]:
df.xs(1,level = 'Num')

               A         B
Groups
G1     -0.201773 -0.149884
G2      0.505303 -1.174932