# Pandas

 Series : The first main data types we gonna be working on with pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# Lets have 4 python separate objects

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [11]:
# Now lets create a series

pd.Series(data = my_data)
# well it looks like numPy array but notice theres an index.

0    10
1    20
2    30
dtype: int64

In [13]:
#Notice we can specify what our index is

pd.Series(data= my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [14]:
#You dont have to repeat data and index

pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
#A numpy array or python list may both define the data

pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [17]:
#what if you pass a dictionary? the keys become labels and items- data

pd.Series(d)

a    10
b    20
c    30
dtype: int64

# Data points can be any type

In [20]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [21]:
pd.Series(data = [sum,print,len,max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3      <built-in function max>
dtype: object

# Using a Series

In [23]:
# The is knowing its indices
# Lets create two series
# It depends on what data type is your index

In [26]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [27]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [28]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1['USA']

1

In [30]:
ser3 = pd.Series(data = labels)

In [31]:
ser3

0    a
1    b
2    c
dtype: object

In [32]:
ser3[0]

'a'

In [33]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [34]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [35]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [36]:
# Note data in int is converted to float when an operation is executed.