# Map() function

In [1]:
seq = [1,2,3,4,5]

In [2]:
def times2(var):
    return var*2

In [3]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

# Lambda expression or Anonymous function

In [4]:
# you dont need to define the function times2

In [7]:
answer= lambda var:var*2

In [8]:
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]

# Filter() Function

Filters out elements from a sequence

In [9]:
#Returning only even numbers

In [10]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

# Text Analysis

In [19]:
s = 'hello my name is John'

In [20]:
s.lower()

'hello my name is john'

In [21]:
s.upper()

'HELLO MY NAME IS JOHN'

In [22]:
s.split()

['hello', 'my', 'name', 'is', 'John']

# Grabbing Hash tags from tweet strings

In [24]:
tweet = 'Go Sports! #Sports'

In [25]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [26]:
tweet.split('#')[1]

'Sports'

# Dictionaries Analysis

In [27]:
d = {'k1':1,'k2':2}

In [28]:
d.keys()

dict_keys(['k1', 'k2'])

In [29]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [30]:
d.values()

dict_values([1, 2])

# List Analysis

In [31]:
lst = [1,2,3,4]

In [32]:
lst.pop()

4

In [33]:
lst

[1, 2, 3]

In [34]:
lst = [1,2,3,4,5,6]

In [35]:
item = lst.pop()

In [36]:
lst

[1, 2, 3, 4, 5]

In [37]:
item

6

In [38]:
first = lst.pop(0)

In [39]:
first

1

In [40]:
lst

[2, 3, 4, 5]

In [41]:
lst.append('new')

In [42]:
lst

[2, 3, 4, 5, 'new']

# in

In [43]:
'x' in [1,2,3,4]

False

In [45]:
'x' in ['x','y','z']

True

In [46]:
1 in seq

True

# Tuple Unpacking

In [51]:
x = [(1,2),(3,4),(5,6)]  # List of Tuples

In [52]:
x[0][1]

2

In [53]:
#But the same can be done using tuple unpacking

In [54]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [58]:
for a,b in x:
    print(a)

1
3
5

In [57]:
for a,b in x:
    print(b)

2
4
6

In [59]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6