## Dictionaries

In [1]:
d ={'key1':'value','key2':123}

In [3]:
d['key1']

'value'

In [4]:
d['key2']

123

In [5]:
d = {'k1':[1,2,3]}

In [9]:
d

{'k1': [1, 2, 3]}

In [10]:
d['k1']

[1, 2, 3]

In [11]:
d['k1'][1]

2

In [12]:
my_list = d['k1']

In [13]:
my_list

[1, 2, 3]

Nested Dictionary

In [14]:
d = {'k1':{'innerkey':[1,2,3]}}

In [17]:
d['k1']['innerkey'][1]

2

## Booleans

In [19]:
True

True

In [20]:
False

False

In [22]:
True==True

True

# Tuples

In [24]:
# similar to list but use brackets

In [27]:
my_list = [1,2,3]

In [28]:
t = (1,2,3)

In [29]:
t[0]

1

In [30]:
my_list[0] = 'NEW'

In [31]:
my_list

['NEW', 2, 3]

In [32]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [34]:
##TUPLES ARE IMMUTABLE
## USE A TUPLE TO MAKE SURE A USER DOESNT CHANGE ITEMS

## SETS

In [36]:
# Almost similar to dictionary, no colons, only has unique elements

In [37]:
{1,2,3}

{1, 2, 3}

In [38]:
{1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [39]:
# Set function set() can grab a list and return only unique elements

In [40]:
set([1,1,1,1,2,2,2,2,5,5,5,5,6,6,6,68,8,8,])

{1, 2, 5, 6, 8, 68}

In [41]:
#Adding elements to a set

s= {1,2,3}

In [42]:
s.add(5)

In [43]:
s

{1, 2, 3, 5}

## Comparison Operators

In [44]:
1>2

False

In [45]:
1 < 2

True

In [46]:
1 >= 2

False

In [47]:
1 <= 2

True

In [48]:
1 == 2

False

In [49]:
1 ==2

False

In [50]:
1 != 2

True

In [51]:
'hi' == 'bye'

False

In [52]:
'hi' == 'hello'

False

In [53]:
'hi' == 'hi'

True

In [54]:
1 < 2 and 2 < 3

True

In [56]:
(1 < 2) and (2 > 3)

False

In [58]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [59]:
True and False

False

## Loops

In [60]:
if 1 < 2:
    print('yeay!')

yeay!

In [61]:
if True:
    x = 2+2

In [62]:
x

4

In [63]:
if 1 ==2:
    print('First')
else:
    print('Last')

Last

In [64]:
if 1 ==2:
    print('First')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [66]:
# Executes first true condition

if 1 ==2:
    print('First')
elif 4 == 4:
    print('second')
elif 3 == 3:
    print('middle')
else:
    print('Last')

second